.flash-card-board {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;

    position: relative;

    font-family: 'Roboto', sans-serif;
}

.flash-card {
    height: 575px;
    width: 392px;

    background: #FFFFFF;

    border: 5px solid #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    position: relative;

    padding-left: 49px;
    padding-right: 49px;
}

.flash-card span {
    font-size: 16px;
    font-weight: 400;

    position: absolute;

    top: 12px;
    right: 12px;
}

.frente {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: 700;
}

.frente img, .tras img {
    height: 48px;
    width: 48px;

    position: absolute;
    
    bottom: 20px;
    right: 16px;
}

.tras {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 19px;
    padding-bottom: 19px;
}

.titulo-tras {
    font-size: 12px;
    font-weight: 700;
}

.text-content {
    width: 294px;

    font-size: 16px;
    font-weight: 400;
}

.seta {
    height: 48px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: 16px;
}

.buttons button{
    background-color: #FFFFFF;

    height: 48px;
    width: 65px;

    font-size: 10px;
    font-weight: 400;
    align-items: center;
    text-align: center;

    box-sizing: border-box;
    border-radius: 12px;
}

.buttons :nth-child(1) {
    border: 3px solid #000000;
}

.buttons :nth-child(2) {
    border: 3px solid #F74848;
}

.buttons :nth-child(3) {
    border: 3px solid #62DB38;
}

.buttons :nth-child(4) { 
    border: 3px solid #FFEF61;

    font-weight: 700;
}

.aprendi-agora {
    border: 5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.nao-lembrei {
    border: 5px solid #F64848;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);
    border-radius: 12px;
}

.lembrei-esforco {
    border: 5px solid #62DB38;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
    border-radius: 12px;
}

.zap {
    border: 5px solid #FFEF61;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
    border-radius: 12px;
}